
.cartFooter{
    bottom: 0px;
    position: fixed;
    width: 100vw;
}

.containerCartView {
    display: "flex";
    flex-direction: "column";
}
.CartBodycontainer{
    background-color: #e3d8d8a6;
    display: flex;
    flex-direction: row;
    padding: 20px 15px 20px 20px;
}

.cartBodyLeftContainer {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 0px 20px 0px 15px;
    border-bottom: solid 1px #b4b2b2;
}
.cartBodyLeft {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}
.CartAllItems {
    width: 80%;
}
.cartBodyRightContainer {
    background: white;
    padding: 20px 20px 20px 15px;
    width: 16%;
    margin-left: 23px;
}
.cartBodyRight{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
    width: 100%;
}

.cartBodyDesc {
    width: 660px;
}
.CartPanierHeader {
    background: white;
    padding: 20px 20px 20px 15px;
    border-bottom: solid 1px #b4b2b2;
}

.CartPanierPrice{
    float: right;
    margin-bottom: -5px;
}

.cartBodyPriceLeft {
    text-align: end;
}
.cartBodyTitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    font-family: Arial,sans-serif;
}
p {
    font-family: Arial,sans-serif;
}
.hide {
    display: none !important;
  }
.nohide {
    display: block !important;
}