.cart-container {
    position: relative;
  }
  
  .cart-num-container {
    position: absolute;
    top: -10px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  